= form_for @product_order do |f|
  - if @product_order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product_order.errors.count, "error")} prohibited this product_order from being saved:"
      %ul
        - @product_order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :product
    = f.text_field :product
  .field
    = f.label :lineitem
    = f.text_field :lineitem
  .actions
    = f.submit 'Save'
