%p#notice= notice

%p
  %b User:
  = @product_order.User
%p
  %b Product:
  = @product_order.Product
%p
  %b Lineitem:
  = @product_order.LineItem

= link_to 'Edit', edit_product_order_path(@product_order)
\|
= link_to 'Back', product_orders_path
