
%aside.hidden-print#sidebar-wrapper
  %ul.sidebar-nav
    - if @current_user.try(:is_admin?)
      - side_bar_items(@current_role_user).each do |item|
        %li
          - if item.has_key?(:children)
            = link_to('#', class: 'with-subitems') do
              = fa_icon(item[:icon], class: 'menu-icon')
              %span.sdblock
                = item[:name]
              %span.pull-right.carret
                = fa_icon('angle-left', class: 'menu-icon')
            %ul.subitems{class: (item[:children].any?{ |subitem| is_open?(subitem[:controller], subitem[:action]) } ? :subopen : :subclose)}
              - item[:children].each do |subitem|
                %li.subitem
                  - if subitem.has_key?(:params)
                    = link_to(url_for({controller: subitem[:controller], action: subitem[:action]}.merge(subitem[:params])), class: subitem[:class]) do
                      = fa_icon(subitem[:icon], class: 'menu-icon')
                      %span.sdblock
                        = subitem[:name]
                  - else
                    = link_to(url_for(controller: subitem[:controller], action: subitem[:action]), class: subitem[:class]) do
                      = fa_icon(subitem[:icon], class: 'menu-icon')
                      %span.sdblock
                        = subitem[:name]
          - else
            = link_to(url_for(controller: item[:controller], action: item[:action]), class: item[:class]) do
              = fa_icon(item[:icon], class: 'menu-icon')
              = item[:name]


    - else
      - side_bar_items(@current_role_user).each do |item|
        %li
          - if item.has_key?(:children)
            = link_to('#', class: 'with-subitems') do
              = fa_icon(item[:icon], class: 'menu-icon')
              %span.sdblock
                = item[:name]
              %span.pull-right.carret
                = fa_icon('angle-right', class: 'menu-icon')
            %ul.subitems{class: (item[:children].any?{ |subitem| is_open?(subitem[:controller], subitem[:action]) } ? :subopen : :subclose)}
              - item[:children].each do |subitem|
                %li.subitem
                  - if subitem.has_key?(:params)
                    = link_to(url_for({controller: subitem[:controller], action: subitem[:action]}.merge(subitem[:params])), class: subitem[:class]) do
                      = fa_icon(subitem[:icon], class: 'menu-icon')
                      %span.sdblock
                        = subitem[:name]
                  - else
                    = link_to(url_for(controller: subitem[:controller], action: subitem[:action]), class: subitem[:class]) do
                      = fa_icon(subitem[:icon], class: 'menu-icon')
                      %span.sdblock
                        = subitem[:name]
          - else
            = link_to(url_for(controller: item[:controller], action: item[:action]), class: item[:class]) do
              = fa_icon(item[:icon], class: 'menu-icon')
              %span.sdblock
                = item[:name]


    %li.footer
      %div
        %span.fa-stack.fa-1x
          %i.fa.fa-copyright.fa-stack-1x.fa-spin
          -#%i.fa.fa-spinner.fa-stack-1x.fa-pulse
          -#%i.fa.fa-copyright.fa-stack-1x
        Д. В. Седых

    -#- if @current_user.blank?
    -#  - side_bar_items(@current_role_user).each do |item|
    -#    %li
    -#      - if item.has_key?(:children)
    -#        = link_to('#', class: 'with-subitems') do
    -#          = fa_icon(item[:icon], class: 'menu-icon')
    -#          = item[:name]
    -#          %span.pull-right.carret
    -#            = fa_icon('angle-down', class: 'menu-icon')
    -#        %ul.subitems{class: (item[:children].any?{ |subitem| is_open?(subitem[:controller], subitem[:action]) } ? :subopen : :subclose)}
    -#          - item[:children].each do |subitem|
    -#            %li.subitem
    -#              - if subitem.has_key?(:params)
    -#                = link_to(url_for({controller: subitem[:controller], action: subitem[:action]}.merge(subitem[:params])), class: subitem[:class]) do
    -#                  = fa_icon(subitem[:icon], class: 'menu-icon')
    -#                  = subitem[:name]
    -#              - else
    -#                = link_to(url_for(controller: subitem[:controller], action: subitem[:action]), class: subitem[:class]) do
    -#                  = fa_icon(subitem[:icon], class: 'menu-icon')
    -#                  = subitem[:name]
    -#      - else
    -#        = link_to(url_for(controller: item[:controller], action: item[:action]), class: item[:class]) do
    -#          = fa_icon(item[:icon], class: 'menu-icon')
    -#          = item[:name]