
.page-header
  %h1 Товары
.container
  -@products.each do |prod|
    -#.col-md-3
    -#  .list-group
    -#    .list-group-item
    -#
    -#      .book
    -#      -if !bookd.image.blank?
    -#        = image_tag bookd.image.url(:medium), alt: bookd.name, class: 'img-responsive'
    .col-md-4
      .list-group
        .list-group-item
          -if !prod.cover.blank?
            = link_to prod, class: "form-group" do
              =image_tag prod.image.url(:medium), height:"265", style: "display: block; margin: 0px auto;", alt: prod.name, class: "thumb"
          -else
            = link_to prod, class: "form-group" do
              =image_tag ("аптечка.jpg"),src: root_path, height:"265", style: "display: block; margin: 0px auto;"#, data: {toggle: "collapse", target:"#menu"}
        .list-group-item
          %h4
            = link_to "#{prod.name}", prod, style: "color: black"

        .list-group-item
          Цена:
          .badge
          -if prod.price < 2000
            .badge.price
              =number_to_currency(prod.price)
          -else
            .badge
              =number_to_currency(prod.price)

        .list-group-item
          .row.text-center
            .col-xs-3.pull-left
              .button= link_to '', line_items_path(product_id: prod.id), data:{method: :post, remote: :true}, class:"btn btn-success btn-lg fa fa-cart-plus", title: "Добавить в корзину"
            -if @current_user.try(:is_admin?)
              .col-xs-3
                .button= link_to '', prod, class: "btn btn-info btn-lg fa fa-eye", title: "Показать"
            -if @current_user.nil? or !@current_user.nil? and  !@current_user.try(:is_admin?)
              .col-xs-3.pull-right
                .button= link_to '', prod, class: "btn btn-info btn-lg fa fa-eye", title: "Показать"
            -if @current_user.try(:is_admin?)
              .col-xs-3.col-md-3
                .button= link_to '', edit_product_path(prod), class: "btn btn-warning btn-lg fa fa-pencil", title:"Редактировать"
              .col-xs-3.pull-right
                .button= link_to '', prod, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-danger btn-lg  fa fa-trash", title: "Удалить"

          -#%table
          -#  %tr
          -#    .button-group-gorisontal
          -#      %td
          -#        .button= link_to '', line_items_path(book_id: prod.id), data:{method: :post, remote: :true}, class:"btn btn-success glyphicon glyphicon-plus", title: "Добавить в корзину"
          -#      %td
          -#        .button= link_to '', prod, class: "btn btn-info glyphicon glyphicon-search", title: "Показать"
          -#      %td
          -#        .button= link_to '', edit_book_path(prod), class: "btn btn-warning glyphicon glyphicon-pencil", title:"Редактировать"
          -#      %td
          -#        .button= link_to '', prod, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: "btn btn-danger glyphicon glyphicon-trash", title: "Удалить"
-if @current_user.try(:is_admin?)
  %br
  = link_to ' Новый товар', new_product_path, class: "btn btn-primary fa fa-plus"
  %p
  %br
  = link_to ' Сохранить базу', class: "btn btn-info", :action => :save, :format => :xlsx

%br


